@import "tailwindcss";

@font-face {
  font-family: JetBrains Mono Variable;
  font-style: normal;
  font-display: swap;
  font-weight: 100 800;
  src: url("/jetbrains-mono.woff2") format("woff2-variations");
  unicode-range: U+0020-007E, U+FFFD;
}

@theme {
  --font-mono: "JetBrains Mono Variable", monospace;
}
