---
import SocialIcons from '../components/SocialIcons.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Junseong Park's personal website" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
		<title>Junseong Park</title>
	</head>
	<body class="antialiased select-none flex justify-center items-center h-[100dvh]">
  	<main class="space-y-2 px-8">
     	<h1 class="font-extrabold text-4xl">Junseong Park</h1>
     	<p class="font-semibold">Frontend Developer in 🇰🇷</p>
     	<SocialIcons />
  	</main>
	</body>
</html>
