---
import SocialIcons from '../components/SocialIcons.astro';
import BaseHead from '../components/BaseHead.astro';
import { DESCRIPTION, TITLE } from '../consts';
import Flag from '../components/Flag.astro';
---

<html lang="en">
	<head>
	 <BaseHead title={TITLE} description={DESCRIPTION} />
	</head>
	<body class="antialiased select-none flex justify-center items-center h-[100dvh]">
  	<main class="space-y-2 px-8">
     	<h1 class="font-extrabold text-4xl pr-4">Junseong Park</h1>
     	<p class="font-semibold">Frontend Developer in <Flag /></p>
     	<SocialIcons />
  	</main>
	</body>
</html>
