---
import '~/styles/tailwind.css';
import SocialIcons from '~/components/SocialIcons.astro';
import BaseHead from '~/components/BaseHead.astro';
import { METADATA } from '~/utils/constants';
import Flag from '~/components/Flag.astro';

const { TITLE, DESCRIPTION } = METADATA
---

<html lang="en">
  <head>
    <BaseHead title={TITLE} description={DESCRIPTION} />
	</head>
  <body class="antialiased select-none flex justify-center items-center h-[100dvh]">
    <main class="px-4">
      <h1 class="font-extrabold text-4xl pr-4">Junseong Park</h1>
      <p class="font-semibold mb-2">Web Developer in <Flag /></p>
      <SocialIcons />
    </main>
  </body>
</html>
