---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>

const { href, title } = Astro.props;
---

<a
  {href}
  aria-label={title}
  title={`Go to my ${title}`}
  target="_blank"
  rel="noopener noreferrer"
  class="hover:opacity-50 transition-opacity bg-slate-800 rounded-xl p-3.5"
>
  <slot />
</a>
