---
import IconBlueSky from '../assets/icon-bluesky.svg'
import IconGithub from '../assets/icon-github.svg'
import IconLinkedIn from '../assets/icon-linkedin.svg'
import IconX from '../assets/icon-x.svg'
import SocialLink from './SocialLink.astro';
---

<nav title="social-media-links" class="flex gap-3">
  <SocialLink href="https://github.com/jsparkdev" title="Github">
    <IconGithub width={28} height={28} />
  </SocialLink>
  <SocialLink href="https://linkedin.com/in/jsparkdev" title="LinkedIn">
    <IconLinkedIn width={28} height={28} />
  </SocialLink>
  <SocialLink href="https://x.com/jsparkdev" title="X">
    <IconX width={28} height={28} />
  </SocialLink>
  <SocialLink href="https://bsky.app/profile/jspark.dev" title="BlueSky">
    <IconBlueSky width={28} height={28} />
  </SocialLink>
</nav>
