---
import SocialLink from './SocialLink.astro'

---
<nav class="flex flex-wrap gap-3">
  <SocialLink href="https://github.com/jsparkdev" icon="logos:github-icon" label='Github' />
  <SocialLink href="https://bsky.app/profile/jspark.dev" icon="logos:bluesky" label='Bluesky' />
  <SocialLink href="https://x.com/jsparkdev" icon="logos:twitter" label='Twitter' />
</nav>
