---
import { Icon } from 'astro-icon/components'

const size = 40
---
<nav class="flex gap-4">
  <a class="hover:opacity-65" href="https://github.com/jsparkdev"><Icon name="logos:github-icon" size={size} /></a>
  <a class="hover:opacity-65" href="https://bsky.app/profile/jspark.dev"><Icon name="logos:bluesky" size={size} /></a>
  <a class="hover:opacity-65" href="https://x.com/jsparkdev"><Icon name="logos:twitter" size={size} /></a>
</nav>
