---
import SocialLink from './SocialLink.astro'

---
<nav class="flex flex-wrap gap-4">
  <SocialLink href="https://github.com/jsparkdev" icon="logos:github-icon" />
  <SocialLink href="https://bsky.app/profile/jspark.dev" icon="logos:bluesky" />
  <SocialLink href="https://x.com/jsparkdev" icon="logos:twitter" />
  <SocialLink href="https://mastodon.social/@jsparkdev_" icon="logos:mastodon-icon" />
</nav>
