---
import { SOCIAL_LINKS } from '~/const'
---

<nav aria-label="social-media-links">
  <ul class="flex gap-4 text-sm font-semibold">
    {
      SOCIAL_LINKS.map(link => (
        <li>
          <a
            href={link.url}
            target="_blank"
            rel="noopener noreferrer"
            aria-label={`${link.title} Profile`}
            class="hover:underline underline-offset-4"
          >
            {link.title}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
