---
import { Icon } from 'astro-icon/components'

interface Props {
  href: string;
  icon: string;
  label: string;
}

const size = 40;
const { href, icon, label } = Astro.props;
---

<a href={href} class="hover:opacity-65" rel="me" aria-label={label}>
  <Icon name={icon} size={size} aria-hidden="true" />
</a>
