---
import Head from '~/components/Head.astro'
import '~/styles/global.css';
---

<!doctype html>
<html lang="en">
  <head>
    <Head />
  </head>
  <body
    class="bg-gradient-to-br from-emerald-950 via-slate-900 to-emerald-900 min-h-[100dvh] flex items-center overscroll-none"
  >
    <main class="w-full">
      <slot />
    </main>
  </body>
</html>
